<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/reservation_System</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Mert1903</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <mapping class="otomasyon.reservationsystem.model.User"/>
        <mapping class="otomasyon.reservationsystem.model.Reservation"/>
        <mapping class="otomasyon.reservationsystem.model.Order"/>
        <mapping class="otomasyon.reservationsystem.model.MenuItem"/>
        <mapping class="otomasyon.reservationsystem.model.Category"/>
    </session-factory>
</hibernate-configuration>